<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="providersModel" type="Provider.Configuration.ProviderConfigSection, Provider"/>
  </configSections>
  
  <connectionStrings>
    <add name="MySQLTest" connectionString="Server=orion;Port=3306;Database=mcs; Uid=root; Pwd=admin;" />
  </connectionStrings>
  <providersModel>
    <providers>
      <provider name="DefaultProvider" connectionString="MySQLTest" providerClass="Provider.Database.MySQL.MySqlProvider, Provider.Database.MySQL" />
    </providers>
  </providersModel>
  <system.serviceModel>
    
    <services>
      <service name="Mcs.Service.PlaceService">
        <endpoint address="http://localhost:80/v1/place"
              binding="webHttpBinding"
              contract="Mcs.Service.IPlaceService"/>
      </service>
      <service name="Mcs.Service.DeskService">
        <endpoint address="http://localhost:80/v1/desk"
              binding="webHttpBinding"
              contract="Mcs.Service.IDeskService"/>
      </service>
      <service name="Mcs.Service.MenuCategoryService">
        <endpoint address="http://localhost:80/v1/category"
              binding="webHttpBinding"
              contract="Mcs.Service.IMenuCategoryService"/>
      </service>
      <service name="Mcs.Service.DishService">
        <endpoint address="http://localhost:80/v1/dish"
              binding="webHttpBinding"
              contract="Mcs.Service.IDishService"/>
      </service>
    </services>
    
    <behaviors>
      <endpointBehaviors>
        <behavior>           
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>