@{
    ViewBag.Title = "Mobile Client Service";
    Layout = "~/Views/_Layout.cshtml";    
}

<h2>Mobile Client Service</h2>

<p>Модуль администрирования</p>

<p>
    <a href="">Все заказы</a>
    <a href="">Кухня</a>
    <a href="">Прием-выдача</a>
</p>