<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="providersModel" type="Provider.Configuration.ProviderConfigSection, Provider"/>
  </configSections>
  
  <connectionStrings>
    <add name="MySQLTest" connectionString="Server=orion;Port=3306;Database=mcs; Uid=root; Pwd=admin;" />
  </connectionStrings>
  <providersModel>
    <providers>
      <provider name="DefaultProvider" connectionString="MySQLTest" providerClass="Provider.Database.MySQL.MySqlProvider, Provider.Database.MySQL" />
    </providers>
  </providersModel>  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>