@model IEnumerable<Mcs.Model.MenuCategory>

@{
    ViewBag.Title = "IndexMobile";
    Layout = "~/Views/_LayoutMobile.cshtml";
}

<h2>Выберите заведение</h2>

<article id="main" class="navigable current">
    <section>

        <ul class='list'>
            @foreach (var item in Model)
{
    <li data-goto="segmented-article" class="nav">
            <h3 style=""> @Html.DisplayFor(modelItem => item.Name)</h3>       
    </li>
}
        </ul>
    </section>
</article>