<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICommunicationServiceContract" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8082/CommunicationService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommunicationServiceContract"
                contract="ServiceReference1.ICommunicationServiceContract"
                name="BasicHttpBinding_ICommunicationServiceContract" />
        </client>
    </system.serviceModel>
</configuration>